* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  background-color: #1A1B21;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  max-width: 100%;
  display: block;
}

h1,h2,h3,p{
  margin: 0;
}

#root{
  width: 317px;
  margin: 0 auto;
}

.header{
  text-align: center;
}

.header-img{
  width: 317px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name h1{
  font-weight: 600;
  font-size: 25px;
}

.name{
  margin-top: 20px;
}

.title{
  font-size: 12.8px;
  color: #F3BF99;
  margin-top: 5px;
}

.website a{
  color: #F5F5F5;
  text-decoration: none;
  font-size: 10.24px;
  margin-top: 5px;
  font-weight: 400;
}

.button-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn{
  display: inline-block;
  margin: 20px 10px;
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.email-btn{
  
  background-color: #FFFFFF;
  color: #1E1F26;
  padding: 9px 13px;
}

.linkedin-btn{
  background-color: #5093E2;

}